<!doctype html>

<html>
  
  <head>
    <title>e-library</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #eee;
      }
    </style>
  </head>
  
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">e-library</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="index.html">Home</a>
            </li>
            <li>
              <a href="userpage.html">Userpage</a>
            </li>
            <li>
              <a href="adminpage.html">Adminpage</a>
            </li>
            <li>
              <a href="addbook.html">Add Book</a>
            </li>
            <li>
              <form class="navbar-form navbar-right">
                <div class="form-group">
                  <input type="text" placeholder class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Find book</button>
              </form>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="signup.html">Sign up</a>
            </li>
            <li>
              <a href="signin.html">Sign in</a>
            </li>
          </ul>
        </div>
        <!--/.navbar-collapse -->
      </div>
    </div>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <!-- Example row of columns -->
        <form class="row">
          <div class="row-lg-4">
            <label class="checkbox">
              <input type="checkbox" id="inlineCheckbox1" value="option1">
               <h3>Effective Java (2nd Edition) by Joshua Bloch</h3>
            </label>
            <p>Are you looking for a deeper understanding of the Java™ programming language so that you can write code that is clearer, more correct, more robust, and more reusable? Look no further! Effective Java™, Second Edition, brings together seventy-eight indispensable programmer’s rules of thumb: working, best-practice solutions for the programming challenges you encounter every day.
</p>
            <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
          </div>
          <div class="row-lg-4">
            <label class="checkbox">
              <input type="checkbox" id="inlineCheckbox2" value="option2">
               <h3>Head First Java (2nd Edition) by Kathy Sierra and Bert Bates</h3>
            </label>
            <p>Learning a complex new language is no easy task especially when it s an object-oriented computer programming language like Java. You might think the problem is your brain. It seems to have a mind of its own, a mind that doesn't always want to take in the dry, technical stuff you're forced to study.
</p>
            <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
          </div>
          <div class="row-lg-4">
            <label class="checkbox">
              <input type="checkbox" id="inlineCheckbox3" value="option3">
               <h3>Thinking in Java (4th Edition) by Bruce Eckel</h3>
            </label>
            <p>“Thinking in Java should be read cover to cover by every Java programmer, then kept close at hand for frequent reference. The exercises are challenging, and the chapter on Collections is superb! Not only did this book help me to pass the Sun Certified Java Programmer exam; it’s also the first book I turn to whenever I have a Java question.”
—Jim Pleger, Loudoun County (Virginia) Government</p>
            <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
          </div>
          <button type="submit" class="btn btn-lg btn-primary">Order</button>
        </form>
        <hr>

          <ul id="pagination-flickr">
              <li class="previous-off"> <<Previous</li>

              <li class="next"><a href="?page=2">Next>></a></li>
          </ul>


        <footer>
          <p>&copy; Softserve 2014</p>
        </footer>
      </div>
    </div>
  </body>

</html>