<!doctype html>

<html>
  
  <head>
    <title>e-library</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #eee;
      }
    </style>
  </head>
  
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">e-library</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li>
              <a href="index.html">Home</a>
            </li>
            <li class="active">
              <a href="userpage.html">Userpage</a>
            </li>
            <li>
              <a href="adminpage.html">Adminpage</a>
            </li>
            <li>
              <a href="addbook.html">Add Book</a>
            </li>
            <li>
              <form class="navbar-form navbar-right">
                <div class="form-group">
                  <input type="text" placeholder class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Find book</button>
              </form>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="signup.html">Sign up</a>
            </li>
            <li>
              <a href="signin.html">Sign in</a>
            </li>
          </ul>
        </div>
        <!--/.navbar-collapse -->
      </div>
    </div>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <!-- Example row of columns -->
        <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>ISDN</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
        	<tr class="success">
                <td>EJB 3 Developer Guide</td>
                <td>Michael Sicor</td>
                <td>041-95-56</td>
                <td>13.08</td>
                <td>23.08</td>
                <td>Active</td>
            </tr>
            <tr class="success">
                <td>Data Structures and the Java Collections Framework</td>
                <td>William J. Collins</td>
                <td>178-56-87</td>
                <td>15.08</td>
                <td>25.08</td>
                <td>Active</td>
            </tr>
        </tbody>
    </table>
        <hr>
        <footer>
          <p>&copy; Softserve 2014</p>
        </footer>
      </div>
    </div>
  </body>

</html>